<footer class="bg-black text-white py-5 mt-5">
  <div class="container">
    <div class="row gy-4">
      <!-- F45 Section -->
      <div class="col-md-4">
        <h5 class="text-uppercase">f45 training</h5>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-white text-decoration-none">About F45</a></li>
          <li><a href="#" class="text-white text-decoration-none">F45 Challenge</a></li>
          <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-white text-decoration-none">Own a Franchise</a></li>
        </ul>
      </div>

      <!-- Workouts -->
      <div class="col-md-4">
        <h5 class="text-uppercase">workouts</h5>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-white text-decoration-none">Cardio</a></li>
          <li><a href="#" class="text-white text-decoration-none">Resistance</a></li>
          <li><a href="#" class="text-white text-decoration-none">Hybrid</a></li>
          <li><a href="#" class="text-white text-decoration-none">Recovery</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4">
        <h5 class="text-uppercase">follow us</h5>
        <div class="d-flex gap-3 fs-4">
          <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
          <a href="#" class="text-white"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
    </div>

    <hr class="border-secondary my-4" />

    <div class="text-center small">
      <p class="mb-0">&copy; 2025 F45 Training. All Rights Reserved.</p>
    </div>
  </div>
</footer>
